.box {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  height: 20rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: coral;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: crimson;
}

button {
  background-color: darkolivegreen;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;
  padding: 15px 25px;
  border: none;
  border-radius: 0.3rem;
}

body {
  text-align: center;
  background-color: lightgray;
}
